#{extends 'main.html' /}
#{set title:'Viewer' /}

<script language="Javascript" type="text/javascript" src="@{'/public/javascripts/edit_area/edit_area_full.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script language="Javascript" type="text/javascript" src="@{'/public/javascripts/edit_area.js'}" type="text/javascript" charset="${_response_encoding}"></script>


<h1>Viewer</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}


<div id="content">
	<div id="saveOptions" style="display:none" title="Save Options">
	</div>

	<form method="post">
		<textarea id="codeArea" name="content" cols="110" rows="40">
			${fileContents}
		</textarea>
	</form>
	

	
</div>


<script type="text/javascript" language="javascript">
			
	$(document).ready(function() {
			
	
				 $("#saveCode").click(function(event) {
				 		alert("ehuahea");
				 });
		 	
		 	function sendCode(){
		 		
		 		var code = $('#codeArea').html();
		 		var queryName = $('#queryName').val();
		 		var queryDescription = $('#queryDescription').val();
		 		
		 		$.get('/save/'+queryName+'/'+code);
		 		
		 	}
	
	});
	
</script>
