#{extends 'main.html' /}
#{set title:'Viewer' /}

<script language="Javascript" type="text/javascript" src="@{'/public/javascripts/edit_area/edit_area_full.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script language="Javascript" type="text/javascript" src="@{'/public/javascripts/edit_area.js'}" type="text/javascript" charset="${_response_encoding}"></script>


<h1>Viewer</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}


<div id="content">
	<form method="post">
		<textarea id="textarea_1" name="content" cols="80" rows="15">
			${fileContents}
		</textarea>

	</form>
</div>

