#{extends 'main.html' /}
#{set title:'QEF-LD' /}

<a href="https://github.com/franzejr/qefweb" title="GitHub Repository" target="_blank"><img align="right" src="@{'/public/images/forkme.png'}" /></a>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
#{if flash.success}
    <p style="color:#0c0">
        ${flash.success}
    </p>
#{/if}

<div id="content">
	<h1>QEF-LD</h1>
	<br/><br/><br/>
	<h3>Query Plans</h3>
	<table align="center">
	<tr class="title">
		<th>
        </th>
		<th>Description</th>
		<th colspan="5">Actions</th>
	</tr>
	#{list items:qeps, as:'qep' }
	<tr class="list">
		<td>
        %{ cached = qmr.isLoaded(qep.id); }%
        #{if cached}
        	<img alt="Cached" title="Cached" src="@{'/public/images/green-dot.png'}"/>
        #{/if}
        #{else}
        	<img alt="Not Cached" title="Not Cached" src="@{'/public/images/gray-dot.png'}"/>
        #{/else}
		</td>
		<td>${qep.description}</td>
		<td><a href="@{Application.reload(qep.id)}" title="Reload Plan"><img alt="Reload" src="@{'/public/images/reload.gif'}"/></a></td>
		<td><a href="@{Application.show(qep.id)}" title="Show Plan"><img alt="Show" src="@{'/public/images/show.png'}"/></a></td>
		<td><a href="@{Application.executeQuery(qep.id, "html")}" title="Outputs query results to HTML format"><img alt="HTML" src="@{'/public/images/html.png'}"/></a></td>
		<td><a href="@{Application.executeQuery(qep.id, "xml")}" title="Outputs query results to XML format"><img alt="XML" src="@{'/public/images/xml.png'}"/></a></td>
		<td><a href="@{Application.executeQuery(qep.id, "json")}" title="Outputs query results to JSON format"><img alt="JSON" src="@{'/public/images/json.png'}"/></a></td>
	</tr>
	#{/list}
	</table>
	
	<div class="topic">
		<h3>About</h3>
		<p>
		QEF-LD - A Query Engine for Efficient Execution of Federated Queries on Linked Data.<br/>
                QED-LD executes and manages Query Execution Plans using <a href="http://dexl.lncc.br/qef.html" target="_blank">QEF (Query Evaluation Framework)</a>.
		</p>
	</div>

	<div class="topic">
		<h3>Queries</h3>
		<p>The Q1, Q2 and Q3 queries were designed to evaluate the join strategies, whilst queries
Q4 and Q5 were prepared with the intention of analyzing the performance of the union operations.
Both queries Q1 and Q2 have a single join operation, but differ principally by the amount of data returned. The Q3
query involves two join operations and retrieves a large number of results.
Queries Q4 and Q5, which are designed to enable the performance evaluation of union strategies, differ in the number of union operations performed.
</p>

<h4>Query Q1 (<a href="@{Application.showSparql(11)}">SPARQL equivalent query</a> / <a href="@{Application.show(11)}">QEF Query Execution Plan)</a></h4>
<p>The query Q1 gets resources' URIs from the linkedgeodata dataset, together with their respective latitudes and longitudes obtained from the DBpedia dataset.</p>

<h4>Query Q2 (<a href="@{Application.showSparql(12)}">SPARQL equivalent query</a> / <a href="@{Application.show(12)}">QEF Query Execution Plan)</a></h4>
<p>The query Q2 gets URIs of diseases and possible drugs used to treat each disease from the diseasome data source. In addition to these data, the full names of the
drugs used in treating each disease are obtained from the dailymed data source.</p>

<h4>Query Q3 (<a href="@{Application.showSparql(13)}">SPARQL equivalent query</a> / <a href="@{Application.show(13)}">QEF Query Execution Plan)</a></h4>
<p>The Q3 query gets, initially, the name of active pharmacological agents for some drugs in the dailymed
dataset. From these values, Q3 checks: 1) the owl:sameAs links with sider, in order to get the side ects for each
drug, and 2) the links dailymed:genericDrug with drugbank to retrieves chemical formulas of drugs.</p>

<h4>Query Q4 (<a href="@{Application.showSparql(14)}">SPARQL equivalent query</a> / <a href="@{Application.show(14)}">QEF Query Execution Plan)</a></h4>
<p>Query Q4 performs the union of generic names of drugs and medical treatment indications between the datasets drugbank and dailymed.</p>

<h4>Query Q5 (<a href="@{Application.showSparql(15)}">SPARQL equivalent query</a> / <a href="@{Application.show(15)}">QEF Query Execution Plan)</a></h4>
<p>The query Q5 performs the union of researchers names and their publications in the DBLP dataset.</p>

	</div>

	<div class="topic">
		<h3>Source code</h3>
		<p><a href="https://github.com/regispires/qef" target="_blank">QEF</a> and <a href="https://github.com/franzejr/qefweb" target="_blank">QEF-LD</a> source code can be downloaded from GitHub.</p>
        </div>
	
	<div class="topic">
		<h3>Case Study</h3>
		<p>
		<a href="@{Application.queryDiseasesOccurrences()}">click here </a>
		</p>
	</div>
</div>





