#{extends 'main.html' /} 
#{set title:'Home' /} 




#{form @sendDiseasesResults()}

#{ifErrors}
<p class="error">Please correct these errors.</p>
#{/ifErrors} 
<table>
	<tr>
		<td>
			
		</td>
		<td>
			<a align="left" href="http://localhost:9001" > Return to home </a>
		</td>
	</tr>
</table>
<p> Case Study: Drugs & Diseases<p> 

<table>
	<tr>
		<td>#{field 'url'} <label>Enter with a disease name:</label>
		</td>
		<td><input type="text" name="${field.name}"
			value="${post?.title}" /></td>
		<td><span class="error">#{error 'post.title' /}</span> #{/field}
		</td>
		<td><input type="submit" value="submit" /> #{/form}</td>
	</tr>
	<tr>
	</tr>
	
</table>
<br>
