#{extends 'main.html' /} 
#{set title:'Home' /} 


#{form @sendDiseasesResults()}

#{ifErrors}
<p class="error">Please correct these errors.</p>
#{/ifErrors} 

<p> Case Study: Drugs & Diseases<p> 

<table>
	<tr>
		<td>#{field 'url'} <label>Enter with a disease name:</label>
		</td>
		<td><input type="text" name="${field.name}"
			value="${post?.title}" /></td>
		<td><span class="error">#{error 'post.title' /}</span> #{/field}
		</td>
		<td><input type="submit" value="submit" /> #{/form}</td>
	</tr>
</table>