#{extends 'main.html' /} 
#{set title:'Home' /}


<table>
	<tr>
		<td><a href="http://localhost:9001"> Return to home </a></td>
	</tr>
</table>

<table>
	
		<p><b>Choose the desired disease:</b></p>
		<br>
#{if error}
	<tr>
		<td><p>No results found</p></td>
	</tr>
#{/if} 
	

	 
	#{else} 
	#{list items:mylists,as:'mylist'}
		<tr>
			<td><a id="link" href="@{sendDrugsResults()}?diseaseName=${mylist.getDs().getValue()} ">
					${mylist.getDsn().getValue()} </a></td>
		</tr>
	#{/list} 
	#{/else}
</table>

