#{extends 'main.html' /} 
#{set title:'Home' /}

#{extends 'main.html' /} 
#{set title:'Home' /}

<p>Drug Details</p>
		<br> 
<table>
	<tr>
		
	#{list items:mylistsdrugdetails,as:'mylistsdrugdetail'}
		<tr>
			<td>
			</td>
		</tr>
		<tr>
			<td>${mylistsdrugdetail.getDgn().getValue()}
			</td>
		</tr>
		<tr>
			<td>${mylistsdrugdetail.getDg_act_ing().getValue()}
			</td>
		</tr>
		<tr>
			<td>${mylistsdrugdetail.getDg_frm().getValue()}
			</td>
		</tr>
		<tr>
			<td>${mylistsdrugdetail.getSd_eff().getValue()}
			</td>
		</tr>
		
	#{/list}
</table>