<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/javascripts/jquery-ui/css/flick/jquery-ui-1.8.16.custom.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui/js/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	
    	<div id="all" align="center">
    	<div id="topPage"></div>
        	#{doLayout /}
 				
 	
		     <div id="footer">
		     	<div id="w3c">
		     		<small>
				 		<ul>
				 			<li>XML results according to <a href="http://www.w3.org/TR/rdf-sparql-XMLres/">SPARQL Query Results XML Format</a></li>
							<li>JSON results according to <a href="http://www.w3.org/TR/rdf-sparql-json-res/">Serializing SPARQL Query Results in JSON</a></li>
						</ul>
					</small>
				</div>
		    	<p>
		    	Universidade Federal do Ceará - Advanced Research in DataBase - ARIDA<br/>
		    	LNCC - Laboratório Nacional de Computação Científica
		    	
		    	</p>
		    </div>
        
        </div>
    </body>
</html>
